div#container {
    top: 0px;
    left: 0px;
    width: 100%; //1500px;
    height: 100%; //1000px;
    padding: 10px;
    border: 1px solid purple;
}

div.controls {
    position: absolute;
    //color: blue;
    background-color: #d8d8ff; //lightblue;
    border: 2px solid royalblue;
    padding: 4px 6px 4px 6px;
    display: none;  
}

div.controls span {
    padding: 8px 16px;
    text-decoration: none;
}

div.controls tr {
    margin: 6px: 
}

.timetable tr {
    margin: auto;
}

.timetable td {
    text-align: center;
}

.timetable td input[type=button] {
    margin: auto;
    display: block;
}

div.controls .heading {
    display: block;
    color: white;
    background-color: midnightblue;
    font-size: 24px;
}

.control {
    display: none;
    //color: blue;
    background-color: #d0d0ff; //honeydew; //lightgreen;
    border: 1px solid blue;
    padding: 2px 4px 2px 4px;
}

.accordion {
    margin: 4px
    padding: 4px 16px;
    display: block;
    color: black;
    transition: 0.2s;
    cursor: pointer;
    background-color: #c0c0ff;
    border: 1px solid #d0d0ff;
}

.accordion.active {
    background-color: #a0a0ff;//mediumblue;
}

.option, .nonoption {
    padding: 4px 16px;
    color: black;
    display: block;
}

.option:active, .option:hover {
    background-color: #7070ff; //limegreen;
}

input.option, input.nonoption {
  margin: 0;
  width: 100%;
  border: 1px solid #777;
  background-color: #9090ff;
  padding: 0px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;  
}

input[type=button] {
  -webkit-appearance: none;
  margin: 6px;
  width: auto;
  border: 1px solid #777;
  background-color: #c0c0ff;
  padding: 4px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;  
}

input[type=button]:active {
  background-color: #7070ff;
}

//input[type=radio] {
//    background-color: #c0c0ff;
//    color: #c0c0ff;
//}

select {
    margin: 10px 10px 10px auto;
    border: none;
    color: white;
    background-color: #7070ff;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
    text-align: left;
}

input[type="number"].d2 {
    width: 2.2em;
    text-align: center;
}
input[type="number"].d3 {
    width: 2.6em;
    text-align: center;
}
input[type="number"].d4 {
    width: 4.0em;
    text-align: center;
}


// sliders
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #1010ff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #6060ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
//input[type=range]:focus::-webkit-slider-runnable-track {
//    background: #367ebd;
//}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #1010ff; //darkblue;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #6060ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #1010ff;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #1010ff;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #6060ff;
    cursor: pointer;
}
